.navbar {
  background-color: #ba1506;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-evenly
}

.logo {
  color: whitesmoke;
  justify-content: start;
}

.navpage {
  color: white;
  font-weight: bold;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
}
